body{
	background-color: #874CCC;
	color: #8B93FF;
	font-family: times, serif;
	font-size: 16px;

}

h1, h2 {
	font-family: Arial, serif;
}

h1{
	color: #874CCC;
	font-size: 38px;
	font-weight: 800;
}

h2{
	color: #874CCC;
	font-size: 32px;

}

p{
	font-size: 20px;
}

a{
	text-decoration: none;
	color: #10439F;
	font-weight: bold;
	font-size: 32px;
}

a:hover{
	color: white;
}

.img-round{
	width: 170px;
	border-radius: 100%;
	
}

.container{
	width: 700px;
    margin: 40px auto;
}

@media (max-width: 500px){
	.container{
		width: 400px;
	}

}

@media (max-width: 760px){
	.container{
		width: 600px;
	}

}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.btn-pink{
	background-color: #874CCC;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-pink:hover{
	color: black;
	background-color: rgba(150,150,150,0.5);
}

.list-inline{
	list-style: none;
	padding-left: 0px;

}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 50px;
}

.list-inline i:hover{
	font-size: 50px;
	color: black;
	background-color: rgba(150,150,150,0.5);
}

#introduction p{
	margin-bottom: 40px;
}